<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="alien1" class="com.valtech.training.Zeroo.Alien" >
<!-- <constructor-arg name="age" value="22"/>
<constructor-arg name="laptop" ref="laptop"/> -->

</bean>

<bean id="laptop2" class="com.valtech.training.Zeroo.Laptop">
</bean>


</beans>